<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-3xl text-cyan-800">New Staff Type</h1>

  <%= render "form", assigned_staff_type: @assigned_staff_type %>

  <%= link_to "Back to assigned staff types", assigned_staff_types_path, class: "ml-2 rounded-lg py-2 px-2 bg-gray-100 inline-block font-small" %>
</div>
