<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-3xl text-cyan-800">New Relationship</h1>

  <%= render "form", relationship: @relationship %>

  <%= link_to "Back to relationships", relationships_path, class: "ml-2 rounded-lg py-2 px-2 bg-gray-100 inline-block font-small" %>
</div>
